body{
    margin:0;
    padding:0;
}
.box{
    width: 100%;
    height:70px;
    
}
h1{
    color:rgb(247, 15, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;

}
ul{
    text-decoration: none;
    display: flex;
    padding:10px;
    float:right;
    margin-top: 5px;
    
}
ul li{
    text-decoration: none;
    list-style-type: none;
    padding:10px;
   
}
ul li a{
    text-decoration: none;
    display: block;
    padding:10px;
    
}
ul li a:hover{
cursor: pointer;
background-color: blue;
color:white;
}